# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
env/
venv/

# macOS
.DS_Store

# Cache
.cache/

# VSCode
.vscode/

# Dataset
data/

# Outputs / checkpoints
outputs/
checkpoints/

# HuggingFace / model weights
*.bin
*.safetensors
*.pth
*.pt

# Logs
*.log